.login {

display:flex;
justify-content: center;
align-items: center;

background-color: rgb(255, 255, 255);
   width:auto;
   height:100vh;
   gap:2vw;
 
   .content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  padding:6vw 0vw 6vw 0vw;
align-items: center;
border: 0.2vw solid #6d28d9;
    background-color:#e5e7eb;
 
    width:30vw;
    height:30vw;

 border-radius: 1vw;
 box-shadow: 2px 3px 10px grey;

 @media only screen and (max-width: 600px) {
  
   width:80vw;
    height:80vw;

 }
 img {
   background-color: #6d28d9;
   border-radius: 2vw;
    width:10vw;
    margin-bottom:2vw;
    @media only screen and (max-width: 600px) {
      width:40vw;
      
   
    }
 }
 h1 {
    font-size: 2vw;;
    @media only screen and (max-width: 600px) {
    font-size:6vw;
   
    }
 }
    button {
      font-size:1vw;
    background-color: #6d28d9;
    width:20vw;
    height:3vw;
    border-radius: 1vw;
    color:#fafafa;
    font-weight: bold;
    border:0;
    @media only screen and (max-width: 600px) {
      width:60vw;
      height:7svw;
   font-size:5vw;
    }
    }
   }
   
}