


#message {
 background-color: rgb(255, 255, 255);
 max-width:50vw;
 margin-bottom:3vw;
 margin-top:2vw;
 padding:2vw 2vw 2vw 3vw;
 border-radius:3vw;
 border: 0.1vw solid rgba(123, 7, 255, 0.158);
 box-shadow: 0.5vw 1vw rgba(194, 183, 207, 0.248);
 @media only screen and (max-width: 600px) {
  max-width:80vw;
  margin-top:10vw
  

}

 .first-line {
  gap:1vw;
    display:flex;
  align-items: center;
 font-size:1.3vw;
 color:rgb(26, 26, 26);
 @media only screen and (max-width: 600px) {
 font-size:2.5vw;

}
  .image {
    height:3vw;
    border-radius: 20vw;
    border: 0.2vw solid rgba(0, 0, 0, 0.297);
 
  }
 button {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:1.5vw;
  width:8vw;
  margin-left:10vw;
  background-color:rgb(123, 7, 255); 
  color:white;
  font-weight: bold;
  border:none;
  border-radius: 20vw;
  @media only screen and (max-width: 600px) {
  

   width:15vw;
   font-size:4vw;
 
 }
 }

}
.message-text {
  display:flex;
  font-size:1.3vw;
  gap:2vw;
 align-items: center;
 
 @media only screen and (max-width: 600px) {
  
width:100vw;
align-items: normal;
gap:0;
flex-direction: column;
  font-size:2.5vw;

}
}
.message-image {

  background-color: rgba(54, 54, 54, 0.119);

    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:1vw;
    border: 0.2vw solid rgba(0, 0, 0, 0.297);

    img {
      max-height:40vw;
      max-width:40vw;
      @media only screen and (max-width: 600px) {
  

        max-height:80vw;
        max-width:80vw;
     
     }
    }
}
.message-footer {
  padding:0 0vw 0 5vw;
  
  display:flex;

  @media only screen and (max-width: 600px) {
  
    padding:0 0 0 10vw;
 
 }

 svg {
  background-color: rgb(123, 7, 255);
 font-size:3vw;
 color:rgb(255, 255, 255);
 @media only screen and (max-width: 600px) {
  

font-size:6vw;

}
 }
 .options {
  display:flex;
  margin-right:30vw;

 }
}
.message-chat {
  display:flex;

  .likes {
 
   color:rgb(105, 105, 105)

  }
}
}

