


#message {
 background-color: rgb(255, 255, 255);
 max-width:50vw;
 margin-bottom:3vw;
 margin-top:2vw;
 padding:2vw 2vw 2vw 3vw;
 border-radius:3vw;
 border: 0.1vw solid rgba(123, 7, 255, 0.158);

 .first-line {
  gap:1vw;
    display:flex;
  align-items: center;
 font-size:1.3vw;
 color:rgb(26, 26, 26);
  .image {
    height:3vw;
    border-radius: 20vw;
    border: 0.2vw solid rgba(0, 0, 0, 0.297);
 
  }
 button {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:1.5vw;
  width:8vw;
  margin-left:10vw;
  background-color:rgb(123, 7, 255); 
  color:white;
  font-weight: bold;
  border:none;
  border-radius: 20vw;
 }

}
.message-text {
  display:flex;
  font-size:1.5vw;
  gap:2vw;
 align-items: center;
}
.message-image {

  background-color: rgba(54, 54, 54, 0.119);

    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:1vw;
    border: 0.2vw solid rgba(0, 0, 0, 0.297);

    img {
      max-height:40vw;
      max-width:40vw;
    
    }
}
.message-footer {
  padding:0 0vw 0 5vw;
  
  display:flex;



 svg {
  background-color: rgb(123, 7, 255);
 font-size:3vw;
 color:rgb(255, 255, 255);

 }
 .options {
  display:flex;
  margin-right:30vw;

 }
}
.message-chat {
  display:flex;

  .likes {
 
   color:rgb(105, 105, 105)

  }
}
}

